<div class="root">
    <nav class="sidebar">
      <ul>
        <div class="zdj">
            <img src="aniol.ico" alt="1"/>
            <img src="Master.jpeg" alt="1"/>
            <img src="1.jpeg" alt="1"/>
        </div>
      </ul>
    </nav >
    <nav class="sidebar">
        <ul>
            <div class="zdj">
              <img src="2.jpeg" alt="1"/>
              <img src="3.jpeg" alt="1"/>
              <img src="4.jpeg" alt="1"/>
            </div>
        </ul>
    </nav> 
    <nav class="sidebar" >
        <ul>
          <div class="zdj">
              <img src="5.jpeg" alt="1"/>
              <img src="6.jpeg" alt="1"/>
              <img src="7.jpeg" alt="1"/>
          </div>
        </ul>
    </nav>
</div>
