<div class="root">
    <nav class="sidebar">
      <ul>
        <h2>gmail i numer telefonu</h2>
        <h3>wojciechowskimarcel92&#64;gmail.com</h3>
        <h3>4uczen2roku0&#64;gmail.com</h3>
        <h3>797 959 941</h3>
      </ul>
    </nav>
    <nav class="sidebar.inf">
        <ul>
            <a href="https://www.youtube.com/@marcelwojciechowski2648"
            target="_blank" 
            rel="noopener noreferrer"
            >kanał na youtube</a>
        
            <br>
            <br>
        
            <a href="https://github.com/Marcelek101"
            target="_blank" 
            rel="noopener noreferrer"
            >github</a>


            <br>
            <br>
        
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            target="_blank" 
            rel="noopener noreferrer"
            >numer cvc</a>


        </ul>
      </nav>
     
</div>