<div class="root">
    <nav class="sidebar">
      <ul>
        <h1>Podstawowe informacje</h1>
        <h3>Marcel Wojciechowski</h3>
        <h3>lat 17</h3>
        <h3>ig mwojciechowski101</h3>
        <h3>Uczen TTC</h3>
        <h3>urodziłem się 25.04.2007</h3>
      </ul>
    </nav>
    <nav class="sidebar.inf">
        <ul>
         <h2>ulubione piosenki</h2> 
         <h3>"depeche mode should be higher"</h3>
         <h3>"depeche mode sweetest perfection"</h3>
         <h3>"mata a nie pamietasz jak"</h3>
         <br>
         <h2>ulubione filmy</h2>
         <h3>"klopsiki i inne zjawiska pogodowe"</h3>
         <h3>"duże dzieci"</h3>
        </ul>
      </nav>
      <nav class="sidebar.info">
        <ul>
         <h2>ciekawostki</h2>
         <h3>Mieszkałem w Szwedzi przez 5</h3>
         <h3>lat. Robię teraz prawi jazdy i </h3>
         <h3>chem kupić audi a3. uczę się </h3>
         <h3>teraz angular na praktykach. </h3>
         <h3>Tworzyłem kiedyś gry w unreal </h3>
         <h3>engine</h3>
        </ul>
      </nav>
</div>

