.slider-container {
    margin: 20px auto;
    text-align: center;
  }
  
  input[type='range'] {
    width: 80%;
    margin: 10px auto;
    display: block;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slider-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


  html, body, .root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  